<div class="modal-body wrapper-md">
  <div class="row">
    <div class="col-sm-12">
      <h4>Elige el vendedor</h4>
        <div class="row">
           <div class="separator-modal"></div>
        </div>
        <ul class="list-group alt">
          <li class="list-group-item">
            <div class="media">
              <div class="checkbox bill-check checkbox-modal">
                <label class="i-checks">
                  <input type="checkbox" checked=""><i></i>
                </label>
               </div>
              <div class="media-body">
                <div class="cont-list-modal"><a href>Julian Casablancas</a></div>
              </div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="media">
              <div class="checkbox bill-check checkbox-modal">
                <label class="i-checks">
                  <input type="checkbox"><i></i>
                </label>
               </div>
              <div class="media-body">
                <div class="cont-list-modal"><a href>Alex Turner</a></div>
              </div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="media">
              <div class="checkbox bill-check checkbox-modal">
                <label class="i-checks">
                  <input type="checkbox"><i></i>
                </label>
               </div>
              <div class="media-body">
                <div class="cont-list-modal"><a href>Miles Canes</a></div>
              </div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="media">
              <div class="checkbox bill-check checkbox-modal">
                <label class="i-checks">
                  <input type="checkbox"><i></i>
                </label>
               </div>
              <div class="media-body">
                <div class="cont-list-modal"><a href>Omar Rodriguez</a></div>
              </div>
            </div>
          </li>
        </ul>

    <form role="form">   
        <div class="checkbox m-t-lg">
          <button type="submit" class="btn btn-sm btn-success pull-right text-uc m-t-n-xs cancel" ng-click="ok()"><strong>Cancelar</strong></button>
          <button type="submit" class="btn btn-sm btn-success pull-right text-uc m-t-n-xs add" ng-click="ok()"><strong>Aceptar</strong></button>
        </div>
      </form>
    </div>
  </div>
</div>