<div class="modal-body wrapper-md">
  <div class="row">
    <div class="col-sm-12">
      <h4>Melón Chino</h4>
       <div class="row">
           <div class="col-sm-6">
              <h5 style="margin-bottom: -1px;">Existencia</h5>
              <span>200 Cajas</span>
            </div>

            <div class="col-sm-6">
              <h5 style="margin-bottom: -1px;">Tamaño</h5>
              <span>Enorme</span>
            </div>
        </div>

        <div class="row">
           <div class="col-sm-6">
              <h5 style="margin-bottom: -1px;">Camión</h5>
              <span>35354535</span>
            </div>
        </div>

        <div class="row">
           <div class="separator-modal"></div>
        </div>
        
    <form role="form">

        <div class="row">
           <div class="col-sm-6">
              <div class="form-group">
                <label>Cantidad de cajas</label>
                <input type="text" class="form-control" placeholder="2">
              </div>
            </div>

            <div class="col-sm-6">
              <div class="form-group">
                <label>Precio unitario</label>
                <input type="text" class="form-control" placeholder="300.00">
              </div>
            </div>
        </div>

        <div class="row">
           <div class="col-sm-12">
              <div class="form-group">
                <label>Observaciones</label>
                <input type="text" class="form-control" placeholder="Precio bajo por mercancia resagada">
              </div>
            </div>
        </div>
      
        <div class="checkbox m-t-lg">
          <button type="submit" class="btn btn-sm btn-success pull-left text-uc m-t-n-xs add-prduct" ng-click="ok()"><strong>Agregar producto</strong></button>
          <button type="submit" class="btn btn-sm btn-success pull-right text-uc m-t-n-xs cancel" ng-click="ok()"><strong>Cancelar</strong></button>
        </div>
      </form>
    </div>
  </div>
</div>